[submodule "pretixscan/libpretixsync-repo"]
	path = pretixscan/libpretixsync-repo
	url = git@github.com:awsugid/libpretixsync.git
	branch = entry-strict-exit
[submodule "pretixscan/libpretixui-repo"]
	path = pretixscan/libpretixui-repo
	url = https://github.com/awsugid/libpretixui-android.git
[submodule "pretixscan/libpretixnfc-repo"]
	path = pretixscan/libpretixnfc-repo
	url = https://github.com/pretix/libpretixnfc.git
